APP_NAME=AI Services
APP_ENV=development
APP_VERSION=0.1.0
API_V1_PREFIX=/api/v1
SENTIMENT_MODEL_DIR=ml/artifacts/checkpoints/phobert-sentiment/final

# TODO: add your real model/storage keys here
# MONGO_URI=
# OPENAI_API_KEY=
